ion-content.background{
    --background:url('../../assets/img/background.jpeg')0 0/100% 100% no-repeat; 
}
ion-card.color{
    --ion-card-background: transparent;
}
ion-item.color{
    --ion-item-background: transparent;
}
ion-card-content.color{
    --ion-card-content-background: transparent;
}
